{
  "extends": ["@nolajs/eslint-config", "next"],
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/anchor-is-valid": "off"
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./"]
      }
    }
  },
  "overrides": [
    {
      "files": "scripts/**/*",
      "env": {
        "browser": true,
        "node": true
      }
    }
  ]
}
