.root {
  min-height: calc(100vh - 293px);
}

@media only screen and (max-width: 600px) {
  .root {
    padding: 0 10px
  }
  
}

.footer {
  background: #282c35;
  color: #bbb;
  padding: 40px 0;
  text-align: center;
  font-size: 16px;
  margin-top: 32px;
}

.footer p {
  display: block;
}

.footer p:first-child {
  margin-bottom: 20px;
}

.footer a {
  color: #98c379;

}
