.root {
  padding: 10px 20px;
}

.wrap {
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #333;  
  display: block;
  transition: transform 200ms;
  transform: scale(1);
}

.wrap:hover {
  transform: scale(1.05);
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article > div:first-child {
  height: 100%;
  width: 120px;
  background-color: gray;
}

.article > div:last-child {
  flex: 1;
}

.title {
  font-size: 40px;
  font-family: BioRhyme;
  margin-bottom: 8px;
}

.date {
  font-style: italic;
  font-size: 12px;
  display: block;
  margin-bottom: 4px;
}

