html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'BioRhyme', serif;
}

p, text, a {
  font-family: 'Cabin';
}

body {
  padding: 0;
  margin: 0;
}
