.body * {
  line-height: 1.5;
}

.body h3 {
  margin: 16px 0;
}

.body p {
  margin-bottom: 20px;
}

.header {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 20px;
}

.root {
  max-width: 600px;
  margin: 0 auto;
}